.home {
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.home_header {
   display: flex;
   justify-content: space-between;
   padding: 0px 13px 15px 25px;
   align-items: center;
}

.home_header a{
   margin-right: 20px;
   text-decoration: inherit;
   font-family: arial,sans-serif;
   color: rgba(0,0,0,0.87);
   font-size: 14px;
}

.home_header a:hover {
   text-decoration: underline;
}

.home_header_right {
   display: flex;
   align-items: center;
   min-width: 13vw;
   justify-content: space-between;
}

.home_header_right > .MuiButtonBase-root {
   margin-right: 12px;
   padding: 7px;
}

.home_body {
   flex: 1;
   display: flex;
   flex-direction: column;
   margin-top: 5%;
}

.home_body > img {
   object-fit: contain;
   height: 100px;
}